{% extends "taxonomy-list.html" %}

{% block taxdesc %}
<h1 id="media_types">Media Types of Chef’s Suggestions</h1>
<p>
  Whether it’s a review for a comic, TV show, or anything
  else you’re looking for, you’ll quickly find it here. If
  it exists.
</p>
{% endblock %}
