
<figure id="mxlMidi-{{ nth }}" class="music">
  <div>
    <a
      href="/assets/src/blog/{{ asset }}.svg"
      target="_blank">
      <img
        src="/assets/src/blog/{{ asset }}.svg"
        decoding="async"
        loading="lazy"
        role="img"
        title="Click to open this sheet music in a new tab."
        alt="To read the sheet music, open the MusicXML file in a compatible app like MuseScore or Finale, or open this SVG image in an SVG viewer like Okular or Firefox.">
    </a>
  </div>
  <a
    href="/assets/src/blog/{{ asset }}.musicxml"
    type="application/vnd.recordare.musicxml+xml"
    download>Download the MusicXML source code.</a>
  <audio controls>
    <source
      src="/assets/src/blog/{{ asset }}.mid"
      type="audio/midi">
    <source
      src="/assets/src/blog/{{ asset }}.ogg"
      type="audio/ogg">
    <p>
      <a
        href="/assets/src/blog/{{ asset }}.mid"
        type="audio/midi"
        download>Download MIDI file.</a>
      <a
        href="/assets/src/blog/{{ asset }}.ogg"
        type="audio/ogg"
        download>Download OGG file.</a>
    </p>
  </audio>
  {% if body -%}
  <figcaption>
    {{ body | safe }}
  </figcaption>
  {%- endif %}
</figure>
