
/* Just in case i ever add CSS animations. */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration:  0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

/* Accessibility fun! */
/* TODO prefers-contrast: low */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --blue: #68D;
    --blu2: #97E;
    --b   : #111;
    --b-s : #222;
    --b-hi: #666;
    --b-lo: #333;
    --text: #EEE;
    --note: #999;
    --yay : #594;
    --boo : #A23;
    --hmm : #553;
    --dark: #000C;
  }

  body {
    background-blend-mode: multiply;
    background-color:      var(--note);
  }
}

/* Maybe? Do i use that shit? */
/* TODO width */
/* TODO hover: hover */
/* TODO prefers-reduced-transparency: reduce */
