
pre mark {
    display: block;
}

pre table {
    border-collapse:  collapse;
    table-layout:     fixed;
    width:            100%;
    background-color: var(--b-s);
}

pre td {
    padding: 0 4px;
    width:   min-content;
    margin:  0;
    border:  none;
}

pre tr > td:last-of-type {
    width:auto;
}

pre td:nth-of-type(1) {
    text-align:   center;
    user-select:  none;
    border-right: 1px solid var(--b-lo);
}

.z-type, .z-storage, .z-modifier {
    color:       var(--blue);
    font-weight: bold;
}

.z-entity, .z-support {
    color:       var(--yay);
    font-weight: normal;
}

.z-punctuation {
    color:       var(--text);
    font-weight: bold;
}

.z-operator, .z-control {
    color:       var(--boo);
    font-weight: bold;
}

.z-comment, .z-annotation, .z-annotation > .z-section {
    color:       var(--note);
    font-weight: normal;
}

.z-language, .z-constant, .z-quoted, .z-string {
    color:       var(--blu2);
    font-weight: normal;
}

.z-string .z-punctuation {
    font-weight: bold;
}
