
/* TODO https://caniuse.com/?search=prefers-reduced-data */
@font-face {
  font-family:  'Noto Sans';
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
  src:
    local('Noto Sans'),
    local('Noto-Sans-regular'),
    local('NotoSans-Regular'),
    url('/assets/fonts/NotoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family:  'Noto Emoji';
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
  src:
    local('Noto Emoji'),
    local('Noto-Emoji-regular'),
    local('NotoEmoji-Regular'),
    url('/assets/fonts/NotoEmoji-Regular.woff2') format('woff2');
}

@font-face {
  font-family:  'Noto Sans Symbols';
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
  src:
    local('Noto Sans Symbols'),
    local('Noto-Sans-Symbols-regular'),
    local('NotoSansSymbols-Regular'),
    url('/assets/fonts/NotoSansSymbols-Regular.woff2')
      format('woff2');
}

@font-face {
  font-family:  'Noto Sans Symbols2';
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
  src:
    local('Noto Sans Symbols2'),
    local('Noto-Sans-Symbols2-regular'),
    local('NotoSansSymbols2-Regular'),
    url('/assets/fonts/NotoSansSymbols2-Regular.woff2')
      format('woff2');
}

@font-face {
  font-family:  'Noto Sans Mono';
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
  src:
    local('Noto Sans Mono'),
    local('Noto-Sans-Mono-regular'),
    local('NotoSansMono-Regular'),
    url('/assets/fonts/NotoSansMono-Regular.woff2') format('woff2');
}
