
/* WCAG-test all changes */
:root {
  --blue: #249;
  --blu2: #319;
  --b   : #FFF;
  --b-s : #FFF;
  --b-hi: #CCC;
  --b-lo: #999;
  --text: #000;
  --note: #555;
  --yay : #261;
  --boo : #A23;
  --hmm : #FF7;
  --dark: #000C;

  --c-w: calc(min(100vw, 1280px));
}

.r { color: var(--boo ); }
.g { color: var(--yay ); }
.b { color: var(--blue); }

/* I wish inheritance was a vanilla CSS feature… */
%box-common {
  display:       inline-block;
  box-sizing:    border-box;
  border-left:   1px solid var(--b-hi);
  border-right:  1px solid var(--b-lo);
  border-top:    1px solid var(--b-hi);
  border-bottom: 1px solid var(--b-lo);
  border-radius: 4px;
  contain:       content;
}

%box-major {
  @extend %box-common;

  margin:           0.125cap;
  padding:          0.25cap;
  width:            calc(100% - 0.25cap);
  background-color: var(--b);
}

%box-minor {
  @extend %box-common;

  margin:           -2px 0 0;
  padding:          0 2px;
  background-color: var(--b-s);
  line-height:      1;
  vertical-align:   middle;
  min-height:       calc(1cap + 4px);
  height:           auto;
}

%box-cell {
  display:       table-cell;
  box-sizing:    border-box;
  border-left:   1px solid var(--b-hi);
  border-right:  1px solid var(--b-lo);
  border-top:    1px solid var(--b-hi);
  border-bottom: 1px solid var(--b-lo);
  contain:       content;
  padding:       2px 4px;
  line-height:   1;
  text-align:    start;
}

%flex-col {
  display:   flex;
  flex-flow: column nowrap;
}

%flex-col-center {
  @extend %flex-col;

  align-items:     center;
  justify-content: space-between;
}

%flex-row {
  display:   flex;
  flex-flow: row wrap;
}

%flex-row-stretch {
  @extend %flex-row;

  align-items: stretch;
}

%flex-row-start {
  @extend %flex-row;

  align-items: flex-start;
}

%flex-row-rev {
  display:         flex;
  flex-flow:       row-reverse wrap;
  align-items:     flex-end;
  justify-content: right;
}

%full {
  padding: 0;
  margin:  0;
}

%list-none {
  @extend %full;

  list-style: none;
}

/* For contrast-testing. */
/*html { filter: grayscale(100%); }*/

body {
  @extend %flex-col-center;
  @extend %full;

  background:    linear-gradient(0deg, #111 0%, var(--blue) 66.7%);
  font:          100%/1.5
                 "Noto Sans", "Noto Emoji",
                 "Noto Sans Symbols", "Noto Sans Symbols2",
                 "system-ui", "ui-sans-serif", "sans-serif";
  color:         var(--text);
  font-weight:   normal;
  text-align:    start;
  width:         100vw;
  max-width:     100vw;
  min-height:    100vh;
  overflow-x:    clip;
  text-overflow: ellipsis;
}

main, #main-h, #main-f, .box, aside, figure, details, pre,
.paginator > ul > li {
  @extend %box-major;
}

main, #main-h, #main-f, .aside, .figure, article.box {
  box-shadow: 1px 1px 1px var(--dark);
}

figure {
  @extend %flex-col-center;
  width:  auto;
}

details > summary {
  cursor:     pointer;
  width:      100%;
  overflow-y: clip;
}

details > summary::marker {
  font-weight: bold;
  content:     "\1F5D6\FE0E ";
  color:       var(--text);
}

details > summary::after {
  content:   " (…)";
  font-size: 80%;
  color:     var(--note);
}

details[open] > summary {
  border-bottom: 1px solid var(--b-lo);
}

details[open] > summary::marker {
  content: "\1F5D5\FE0E ";
  color:   var(--text);
}

article > section { padding: 0 2px; }

.box, .paginator > ul > li { width: auto; }

code, mark, q, blockquote, kbd > kbd, kbd > samp, var {
  @extend %box-minor;
}

code, kbd, samp {
  font: 90%/1.5 "Noto Sans Mono", "Noto Emoji",
  "Noto Sans Symbols", "Noto Sans Symbols2",
  "ui-monospace", "monospace";
}

del { color: var(--boo ); }
ins { color: var(--yay ); }
s   { color: var(--note); }

var  { background-color: var(--b); }
mark { background-color: var(--hmm); color: var(--text); }

cite         { quotes: "»" "«" "›" "‹"; }
cite::before { content:  open-quote; color: var(--text); }
cite::after  { content: close-quote; color: var(--text); }

q::before { content: "\1F4AC\FE0E"; color: var(--text); }

kbd >  kbd::before { content: "\2328\FE0E";  color: var(--text); }
kbd > samp::before { content: "\1F5D4\FE0E"; color: var(--text); }

pre::before, figure::before {
  @extend %full;

  line-height:   0.85;
  padding-right: 1px;
  position:      absolute;
  left:          4px;
  height:        calc(100% - 5px);
  border-right:  1px solid var(--b-lo);
  color:         var(--text);
}
pre::before {
  content:   "\1F4BE\FE0E";
  font-size: 32px;
}
figure:has(blockquote)::before {
  content:   "\1F4AC\FE0E";
  font-size: 24px;
}

figcaption {
  padding:    0.25;
  margin-top: 0.5cap;
  border-top: 1px solid var(--b-lo);
  color:      var(--note);
  font-size:  80%;
  align-self: stretch;
}

img {
  height:    auto;
  max-width: 100%;
}

figure > img { min-width: 100%; }

pre {
  position:       relative;
  margin:         0;
  padding-left:   40px;
  padding-bottom: 0;
  width:          100%;
}

pre > code {
  width:      100%;
  height:     auto;
  padding:    2px;
  overflow-x: auto;
  overflow-y: hidden;
  margin:     2px 0;
}

figure > blockquote {
  position: relative;
  margin:   0 0 0 36px;
  width:    calc(100% - 36px);
  height:   auto;
  padding:  2px;
}

#main-h, #main-f {
  @extend %flex-row-stretch;

  margin:    0;
  width:     100vw;
  min-width: 100vw;
  max-width: 100vw;
  flex:      0 1 0;

  justify-content: left;

  padding-left:  calc((100vw - var(--c-w)) / 2 + 4px);
  padding-right: 4px;
  border-left:   none;
  border-right:  none;
  border-radius: 0;
}

#main-h { order: -1; }

/* `unquote` because SCSS shits itself near mixed units */
#main-f-addr { max-width: unquote("min(32cap, 100%)"); }

main {
  margin:      2rem;
  margin-left: calc((100vw - var(--c-w)) / 2 + 4px);
  width:       calc(var(--c-w) - 8px);
  align-self:  stretch;
  flex:        1 1 1;
}

article > header {
  @extend %flex-row-rev;

  color:         var(--note);
  font-size:     80%;
  margin-bottom: 1cap;
}

article > header > h1 {
  margin-right:  auto;
  margin-bottom: 0;
  color:         var(--text);
  font-size:     250%;
}

article > footer {
  color:     var(--note);
  font-size: 80%;
}

.posts article {
  @extend %flex-col;

  justify-content: flex-start;
}

.posts article > footer {
  margin-top: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin:         1cap 0 1cap;
  line-height:    110%;
  font-weight:    bold;
  text-align:     start;
  color:          var(--blue);
}

h1 { font-size: 200%; margin-top: 0; }
h2 { font-size: 175%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }

#toc > h2 {
  font-size: 125%;
  margin:    0.5cap 0 0.5cap;
}

strong, dt { font-weight: bold; }

small, table > caption, aside {
  font-size: 80%;
  color:     var(--note);
}

a {
  color:           var(--blue);
  text-decoration: solid underline var(--blue) 1px;
}

a.trusted-ext::before { display: none; }

a:visited { color: var(--blu2); }

.btn > a, details.btn > summary > a {
  text-decoration: none;
}

a[href^="http://"]::before {
  content: "\1F513\FE0E";
  color:   var(--boo);
}

a[href^="https://"]::before {
  content: "↑\FE0E";
  color:   var(--yay);
}

p { margin: 1cap 0; }
hgroup > p { margin: 0; }

dd { margin-bottom: 1cap; }

ul {
  padding-left: 2cap;
  margin:       0;
}

hr {
  border:     0;
  background: var(--b-hi);
  height:     1px;
  margin:     0.5cap 0;
}

address {
  display:    inline-block;
  font-style: normal;
}

table {
  background-color: var(--b-s);
}

.site-title {
  line-height: 100%;
  padding:     0.5cap;
}

.site-title h1 {
  @extend %full;
}

.site-title, #main-f > .box {
  font-size: 67%;
}

.site-title > svg {
  padding: 0.25cap 0 0;
  height:  5.5cap;
  float:   left;
}

.tags {
  padding: 0;
  display: inline-block;
}

.tags > li {
  margin:     0 0.25cap;
  display:    inline-block;
  font-style: italic;
}

.tags > li::after {
  content:    ",";
  font-style: normal;
}

.tags > li:last-of-type::after {
  content: none;
}

.nowrap {
  overflow-wrap: break-word;
  word-break:    keep-all;
  white-space:   nowrap;
}

#main-f > .box > ul {
  @extend %full;

  padding-left: 12px;
}

.paginator {
  @extend %flex-col-center;
  @extend %full;

  line-height: 1;
  font-size:   80%;
}

.check {
  padding: 0;
}

.check > li::marker {
  display: inline-block;
  color:   var(--note);
  content: "\2610\FE0E";
}

.check > .ok::marker {
  content: "\2611\FE0E";
  color:   var(--yay);
}

.check > .no::marker {
  content: "\2612\FE0E";
  color:   var(--boo);
}

.posts > ul, .paginator > ul {
  @extend %flex-row-stretch;
  @extend %list-none;

  justify-content: space-between;
  width:           100%;
}

.posts > ul > li {
  flex:   1 1 320px;
  margin: 0.5cap;
}

.posts > ul > li > article {
  width:  100%;
  height: 100%;
}

#taxonomy-terms > ul, .page-actions {
  @extend %flex-row-start;
  @extend %list-none;

  justify-content: flex-start;
}

#taxonomy-terms > ul > li {
  flex:   min-content;
  margin: 0.5cap;
}

#main-n > ul {
  @extend %flex-row-start;
  @extend %list-none;

  font-weight:     bold;
  justify-content: space-between;
  max-width:       auto;
}

a > svg, .icon {
  display:        inline-block;
  width:          0.9cap;
  height:         0.9cap;
  vertical-align: baseline;
}

#toc {
  margin-bottom: 1cap;
  padding:       0 1cap 0.5cap;
}

#toc ul {
  margin: 0;
}

#toc h4 {
  margin-bottom: 0.5cap;
}

article {
  max-width: 100%;
}

:not(code) > table {
  @extend %box-major;

  overflow-x: auto;
}

:not(code) > table :where(td, th) {
  @extend %box-cell;
}

:not(code) > table :where(thead, tfoot) {
  background-color: var(--blue);
  color:            var(--b);
  font-size:        110%;
  position:         sticky;
}

:not(code) > table thead { top:    0; }
:not(code) > table tfoot { bottom: 0; }

:not(code) > table tbody tr:nth-child(even) {
  background-color: var(--b-s);
}

table > caption {
  display: inline flow;
}

figure.music { align-items: start; }

figure.music > div {
  overflow-x: auto;
  width:      100%;
}

figure.music img {
  max-width: 720px;
  min-width: 192px;
}

audio { max-width: 100%; }

.btn {
  border-left-color:   var(--blue);
  border-right-color:  var(--blu2);
  border-top-color:    var(--blue);
  border-bottom-color: var(--blu2);
}

/* Some microformats2 stuff. */
.h-card > aside {
  position: absolute;
  left:     0;
  top:      0;
  width:    32px;
  border:   none;
}
.h-card { padding-left: 32px; }
.u-logo { width: 100%; }

@import "_media";
