{% extends "base.html" %}



{% block content %}
<p>
  Hmm, something’s missing…
  <br>
  Unless ’twas never here to begin with.
</p>
{% endblock content %}



{% block doctitle %}
<title>404 | {{ config.title }}</title>
{% endblock doctitle %}
