<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <!-- I know this CSP header has only limited effect. Alas, I
       don’t control Codeberg’s web server, and primarily offer
       this header here as a sign of trust. -->
  <meta
    http-equiv="content-security-policy"
    content="default-src 'self'; script-src '{%-
      if page and page.extra.use_js
      or config.base_url is starting_with('http://127.0.0.1') -%}
      {{- 'self' -}}
    {%- else -%}
      {{- 'none' -}}
    {%- endif -%}'; media-src 'self'; img-src 'self'; connect-src {#
      This garbage here makes `livereload.js` work during dev. -#}
      {%- if config.base_url is starting_with('http://127.0.0.1') -%}
        *
      {%- else -%}
        'none'
      {%- endif
    -%}; style-src 'self' 'sha384-{#
      SHA-384 hash of inlined `fonts.css`
    #}{{
      get_hash(
        path='/assets/css/fonts.css',
        base64=true,
        sha_type=384
      ) | safe
    }}'"
  >
  <meta http-equiv="Referrer-Policy" content="no-referrer">
  <!-- Fuck off, Google. Useless, i know, but let’s pretend. -->
  <!-- https://github.blog/changelog/2021-04-27-github-pages-permissions-policy-interest-cohort-header-added-to-all-pages-sites/ -->
  <meta
    http-equiv="Permissions-Policy"
    content="interest-cohort=()"
  >
  <meta name="referrer"     content="no-referrer">
  <meta name="theme-color"  content="#24C">
  <meta name="color-scheme" content="normal">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=yes"
  >

  {% if page -%}
    <link href="{{ page.permalink }}" rel="canonical">
  {%- elif section -%}
    <link href="{{ section.permalink }}" rel="canonical">
  {%- endif %}

  <link
    rel="icon"
    href="/favicon.ico?h={{
      get_hash(
        path='/favicon.ico',
        base64=true,
        sha_type=384
      ) | safe
    }}"
    type="image/x-icon"
    integrity="sha384-{{
      get_hash(
        path='/favicon.ico',
        base64=true,
        sha_type=384
      ) | safe
    }}"
  >

  <link
    rel="alternate"
    type="application/atom+xml"
    title="{{ config.title }} (Atom Feed)"
    href="/{{ config.feed_filenames | first }}"
  >
  {% block feed_autodiscovery -%}
  {%- endblock %}

  <style>{{
      load_data(path="/assets/css/fonts.css", format="plain")
      | safe
  }}</style>

  {% block doctitle %}
  <title>{{ config.title }}</title>
  {% endblock doctitle %}

  <link
    rel="stylesheet"
    href="/assets/css/main.css?h={{
      get_hash(
        path='/assets/css/main.css',
        base64=true,
        sha_type=384
      ) | safe
    }}"
    integrity="sha384-{{
      get_hash(
        path='/assets/css/main.css',
        base64=true,
        sha_type=384
      ) | safe
    }}"
  >
  {% block css %}
  {% endblock %}

  <link
    rel="author"
    href="/"
    hreflang="en_US"
    referrerpolicy="no-referrer"
    type="text/html"
  >
  <link
    rel="search"
    href="/search/"
    hreflang="{{ lang }}"
    type="text/html"
  >

  <!-- SEO-Junk -->
  {% if current_url -%}
  <meta name="canonical" content="{{ current_url }}">

  <meta property="og:site_name" content="{{ config.title }}">
  <meta property="og:locale"    content="{{ lang }}">
  <meta property="og:url"       content="{{ current_url }}">
  {%- endif %}

  {% block seo %}
  <meta name="author"      content="{{ config.author }}">
  <meta name="description" content="{{ config.description }}">

  <meta property="og:type" content="website">
  {% endblock %}
</head>

<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <header id="main-h">
    <hgroup class="site-title">
      {{
        load_data(path="/assets/img/logo-opt.svg", format="plain")
        | safe
      }}
      <h1><a href="/">{{ config.title }}</a></h1>
      <p>{{ config.description }}</p>
    </hgroup>

    <nav id="main-n">
      <ul>
        <li>
          <details class="btn">
            <summary><a href="/blog">Blog</a></summary>
            <ul>
              <li><a href="/keywords">Keywords</a></li>
              <li><a href="/categories">Categories</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details class="btn">
            <summary><a href="/media">Chef’s Suggestions</a></summary>
            <ul>
              <li><a href="/media_types">Media Types</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>

    <ul class="page-actions">
      <li class="box btn">
        <a href="/{{ config.feed_filenames | first }}"
            title="Subscribe to the Atom feed."
            aria-label="Subscribe to the Atom feed.">
          {{
            load_data(
              path="/assets/img/rss-opt.svg",
              format="plain")
            | safe
          }}&nbsp;Feed
        </a>
      </li>
      {% block feed_button %}
      {% endblock %}

      <li class="box btn">
        <a href="/search/">
          &#x1F50D;&#xFE0E;&nbsp;Search
        </a>
      </li>
    </ul>
  </header>

  <footer id="main-f">
    {% include "inc/LICENSE.html" %}
    {% include "inc/no-js.html"   %}
    {% include "inc/addr.html"    %}
  </footer>

  {% block js %}
  {% endblock %}
</body>

</html>
