{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<section>
  <h1>Evy’s Eck</h1>
  <p>
    Welcome to my humble corner of the internet, where things are
    blue and silly! I’m Evy, a random person writing random stuff,
    doing random things.
    <br>
    <small>
      (You may also call me »Evrey«. Or »Evyènne«. Whichever
      works best for you.)
    </small>
    <br>
    Allow me to show you around.
  </p>
  <p>
    This is where i shall occasionally showcase or blog about the
    things i may or may not be working on or just may or may not
    enjoy. You can find a link to my <a href="/blog">blog</a> in my
    site’s header. Hint: You can click on the ellipsis <small>(…)</small>
    or application window icon <small>(&#x1F5D6;&#xFE0E;)</small> to
    uncover direkt links to <a href="/categories">category</a> or
    <a href="/keywords">keyword</a> pages.
    <br>
    <small>(Imagine that: The equivalent of a hamburger menu,
    but with no <abbr title="JavaScript">JS</abbr>!)</small>
  </p>

  <section>
    <h2>My Blog</h2>
    <p>
      You’re likely here to read my blog, so to save you a click,
      here’s a short list of my most recent posts:
    </p>

    {% set blog = get_section(path="blog/_index.md") -%}
    {{ macros::post_list_preview(posts = blog.pages | slice(end=4)) }}
    <p>
      This blog is part of a small writing group called
      <a href="https://www.catmonad.xyz/writing_group/">
        The Writing Gaggle
      </a>. As the linked page states:
      <br>
      <q>Our goal here is
      to motivate each other to write and publish more</q>
    </p>
  </section>

  <section>
    <h2>Chef’s Suggestions</h2>
    <p>A place where i recommend pieces of media i enjoyed.</p>

    {% set media = get_section(path="media/_index.md") -%}
    {{ macros::post_list_preview(posts = media.pages | slice(end=4)) }}
  </section>

  <section>
    <h2>That’s It</h2>
    <p>For now.</p>
    <p>
      I may add a bunch more stuff in the future, depending on the
      amount of spare time and ideas i can accumulate.
    </p>
  </section>
</section>
{% endblock content %}
