
{% macro post_header(post) %}
<header>
  <section class="box" aria-label="Published" title="Published">
    &#x1F4C5;&#xFE0E;
    <time datetime="{{ post.date | date(format = '%+') }}">
      {{ post.date | date(format = "%d.%m.%Y") }}
    </time>
  </section>

  {%- if post.updated %}
  <section class="box" aria-label="Last updated" title="Last updated">
    &#x1F4DD;&#xFE0E;
    <time datetime="{{ post.updated | date(format='%+') }}">
      {{ post.updated | date(format = "%d.%m.%Y") }}
    </time>
  </section>
  {% endif -%}

  <section class="box" aria-label="Author" title="Author">
    &#x270F;&#xFE0E; by
    <address>
      {{ page.extra.author
       | default(value = config.author) }}
    </address>
  </section>

  <section class="box" aria-label="Estimated reading time" title="Estimated reading time">
    &#x23F1;&#xFE0E;
    {{ post.reading_time }}&#x202F;<abbr title="Whatever actual unit my static site generator uses, it definitely isn’t »minutes«. At least not for the average reader. Maybe it’s US customary minutes?">kg⋅eV</abbr>&#x202F;±12σ
  </section>

  <h1><a href="{{ post.path | safe }}">{{ post.title }}</a></h1>
</header>
{% endmacro post_header %}



{% macro taxonomy_list(post, tax, title) %}
  {% if post.taxonomies is containing(tax) -%}
    {%- if post.taxonomies | get(key=tax) | length != 0 -%}
    <section class="box">
      &#x1F3F7;&#xFE0E;{{ title }}:
      <ul class="tags">
        {% for tag in post.taxonomies | get(key=tax) -%}
        <li><a href="{{ get_taxonomy_url(
          kind = tax,
          name = tag,
          lang = post.lang
        )
        | trim_start_matches(pat=config.base_url) }}">
          {{- tag -}}
        </a></li>
        {%- endfor %}
      </ul>
    </section>
    {%- endif -%}
  {%- endif %}
{% endmacro taxonomy_list %}



{% macro post_footer(post) %}
<footer>
  {{ self::taxonomy_list(
    post=post, tax="keywords", title="Keywords"
  ) }}
  {{ self::taxonomy_list(
    post=post, tax="categories", title="Categories"
  ) }}
  {{ self::taxonomy_list(
    post=post, tax="media_types", title="Media‑Types"
  ) }}
</footer>
{% endmacro post_footer %}



{% macro post_preview(post) %}
<article class="box" aria-label="Post excerpt">
  {{ self::post_header(post = post) }}

  {{ post.summary
   | default(value = post.description)
   | safe }}

  {{ self::post_footer(post = post) }}
</article>
{% endmacro post_preview %}



{% macro post_list_preview(posts) %}
<nav class="posts" aria-label="Excerpts of posts">
  <ul>
  {%- for post in posts %}
    <li>
      {{ self::post_preview(post = post) }}
    </li>
  {% endfor -%}
  </ul>
</nav>
{% endmacro post_list_preview %}
