{% extends "base.html" %}
{% import "macros.html" as macros %}



{% block content %}
<article>
  {{ macros::post_header(post = page) }}

  <section>
    {%- if page.description -%}
    <section><p>{{ page.description }}</p></section>
    {%- endif -%}

    {% if page.toc | length != 0 -%}
    <section id="toc" class="box" aria-label="Table of contents">
      <h2>On This Page:</h2>
      <nav>
        <ul>
          {% for h1 in page.toc -%}
          <li>
            <a href="#{{ h1.id }}">{{ h1.title }}</a>
            {%- if h1.children %}
            <ul>
              {% for h2 in h1.children -%}
              <li><a href="#{{ h2.id }}">{{ h2.title }}</a></li>
              {%- endfor %}
            </ul>
            {%- endif %}
          </li>
          {%- endfor %}
        </ul>
      </nav>
    </section>
    {%- endif %}

    {{ page.content | safe }}
  </section>

  {{ macros::post_footer(post = page) }}
</article>
{% endblock content %}



{% block doctitle %}
<title>{{ page.title }} | {{ config.title }}</title>
{% endblock doctitle %}



{% block css %}
  {% if page.extra.code -%}
  <link
    rel="stylesheet"
    href="/assets/css/code.css"
  >
  {%- endif %}
{% endblock %}



{% block js %}
{% endblock %}



{% block seo %}
{%- set auth = page.extra.author
             | default(value = config.author) -%}
{%- set sec  = get_section(path = page.ancestors | last,
                           metadata_only = true) -%}
<meta name="author"      content="{{ auth }}">
<meta name="description" content="{{ page.description }}">

<meta property="og:title"        content="{{ page.title }}">
<meta property="og:type"         content="article">
<meta property="og:description"  content="{{ page.description }}">
<meta property="article:author"  content="{{ auth }}">
<meta property="article:section" content="{{ sec.title }}">
{% if page.taxonomies is containing("keywords") -%}
  {%- for tag in page.taxonomies.keywords -%}
<meta property="article:tag"     content="{{ tag }}">
  {%- endfor -%}
{%- endif %}

{% if page.date -%}
<meta
  property="article:published_time"
  content="{{ page.date | date(
      timezone = 'Europe/Berlin',
      format   = '%+'
  ) }}"
>
{%- endif %}
{% if page.updated -%}
<meta
  property="article:modified_time"
  content="{{ page.updated | date(
      timezone = 'Europe/Berlin',
      format   = '%+'
  ) }}"
>
{%- endif%}
{% endblock seo %}
