{% extends "base.html" %}
{% import "macros.html" as macros %}



{% block content %}
<header>
  {% include "inc/paginator-nav.html" %}
</header>

<hr>

<section>
<h1>{{ section.title }}</h1>

<p>{{ section.description }}</p>
{% if section.content -%}
  {{ section.content | safe }}
{%- endif %}

{{ macros::post_list_preview(posts = paginator.pages) }}
</section>

<hr>

<!--
  This navigation element is redundant and only serves to save
  most readers from having to scroll all the way back up to
  navigate the section pages.
-->
<footer aria-hidden="true">
  {% include "inc/paginator-nav.html" %}
</footer>
{% endblock content %}



{% block doctitle %}
<title>{{ section.title }} | {{ config.title }}</title>
{% endblock doctitle %}



{% block seo %}
<meta name="author"      content="{{ config.author }}">
<meta name="description" content="{{ section.description }}">

<meta property="og:title"       content="{{ section.title }}">
<meta property="og:type"        content="website">
<meta property="og:description" content="{{ section.description }}">

<meta     name="twitter:card"  content="summary">
<meta property="twitter:title" content="{{ section.title }} | {{ config.title }}">
{% endblock seo %}
