{% extends "base.html" %}
{% import "macros.html" as macros %}



{% block content %}
{% set tax_title = taxonomy.name
                 | replace(from="_", to=" ")
                 | title %}
<section>
  <h1 id="{{ taxonomy.name }}-{{ term.slug }}">
    {{ term.name }} ({{ tax_title }})
  </h1>

  {% block termdesc %}
  <p>
    A complete list of all articles tagged with »{{ term.name }}«.
  </p>
  {% endblock %}

  {{ macros::post_list_preview(posts = term.pages) }}
</section>
{% endblock content %}



{% block doctitle %}
{% set tax_title = taxonomy.name
                 | replace(from="_", to=" ")
                 | title %}
<title>{{ term.name }} ({{ tax_title }}) | {{ config.title }}</title>
{% endblock doctitle %}



{% block seo %}
{% set tax_title = taxonomy.name
                 | replace(from="_", to=" ")
                 | title %}
{% set desc = "A list of all articles tagged with»" ~ term.name ~ "«." %}
<meta name="author"      content="{{ config.author }}">
<meta name="description" content="{{ desc }}">

<meta property="og:title"       content="{{ term.name }} ({{ tax_title }})">
<meta property="og:type"        content="website">
<meta property="og:description" content="{{ desc }}">

<meta     name="twitter:card"  content="summary">
<meta property="twitter:title" content="{{ term.name }} ({{ tax_title }}) | {{ config.title }}">
{% endblock seo %}
