{% extends "base.html" %}



{% block content %}
{% set tax_title = taxonomy.name
                 | replace(from="_", to=" ")
                 | title %}
<section>
  {% block taxdesc %}
  <h1 id="{{ taxonomy.name }}">{{ tax_title }}</h1>
  <p>
    A complete list of all
    {{ taxonomy.name | replace(from="_", to=" ") }}
    and the number of articles having these.
  </p>
  {% endblock %}

  {% if terms | length != 0 -%}
  <nav id="taxonomy-terms" aria-label="Taxonomy terms of {{ taxonomy.name }}">
    <ul>
      {% for term in terms -%}
      <li>
        <section id="term-{{ term.slug }}" class="box nowrap">
          <a href="{{ term.path }}">
            {{ term.name }}
          </a>
          <small>({{ term.pages | length }} article{{
            term.pages | length | pluralize(singular="", plural="s")
          }})</small>
        </section>
      </li>
      {%- endfor %}
    </ul>
  </nav>
  {%- endif %}
</section>
{% endblock content %}



{% block doctitle %}
{% set tax_title = taxonomy.name
                 | replace(from="_", to=" ")
                 | title %}
<title>{{ tax_title }} | {{ config.title }}</title>
{% endblock doctitle %}



{% block seo %}
{% set tax_title = taxonomy.name
                 | replace(from="_", to=" ")
                 | title %}
{% set desc = "A list of all »" ~ tax_title ~ "« terms." %}
<meta name="author"      content="{{ config.author }}">
<meta name="description" content="{{ desc }}">

<meta property="og:title"       content="{{ tax_title }}">
<meta property="og:type"        content="website">
<meta property="og:description" content="{{ desc }}">

<meta     name="twitter:card"  content="summary">
<meta property="twitter:title" content="{{ tax_title }} | {{ config.title }}">
{% endblock seo %}
