<section id="main-f-addr" class="box">
  <address class="h-card">
    Find <a class="p-name p-nickname u-url trusted-ext" rel="cc:attributionURL dct:creator" property="cc:attributionName" href="{{config.base_url}}">Evy</a> here:
    <aside>
      <img src="/assets/img/logo-opt.svg"
           class="u-logo"
           role="img"
           width="1" height="1"
           decoding="async"
           loading="lazy"
           alt=""
           fetchpriority="low" />
    </aside>
    <ul>
      <li><a href="/gpg-keys" class="u-key">
        <abbr title="GNU Privacy Guard">GPG</abbr> Keys
      </a></li>
      <li>
        <a href="https://github.com/Evrey/"
           rel="external noreferrer noopener me"
           target="_blank"
        >GitHub</a>
      </li>
      <li>
        <a href="https://codeberg.org/Evrey/"
           rel="external noreferrer noopener me"
           target="_blank"
        >Codeberg</a>
      </li>
      <li>
        <a href="https://discord.gg/rust-lang-community"
           rel="external noreferrer noopener nofollow"
           target="_blank"
        ><abbr title="Rust Programming Language Community Server">RPLCS</abbr></a>
        <small>(Discord)</small>
      </li>
    </ul>
  </address>
</section>
