<section
  class="box"
  xmlns:cc="https://creativecommons.org/ns#"
  xmlns:dct="https://dublincore.org/specifications/dublin-core/dcmi-terms/"
>
    <a property="dct:title"
       rel="cc:attributionURL"
       href="{{ config.base_url }}"
       class="trusted-ext"
    >{{ config.title }}</a>
    by <a property="cc:attributionName" rel="cc:attributionURL dct:creator" href="{{config.base_url}}" class="trusted-ext">Evy</a> is licensed under
    <br>
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
       target="_blank"
       rel="license noopener noreferrer nofollow external"
    ><abbr title="Creative Commons">CC</abbr> <abbr title="Attribution (»by X«)">BY</abbr>‑<abbr title="NonCommercial">NC</abbr>­‑<abbr title="NoDerivatives">ND</abbr> 4.0</a>
    <br>
    {% set year_now = now() | date(format="%Y") %}
    {% if "2021" == year_now %}
      © 2021
    {% else %}
      © 2021 - {{ year_now }}
    {% endif %}
</section>

<section class="box">
  <ul>
    <li>
      Using the
      <a
        href="https://fonts.google.com/noto"
        target="_blank"
        rel="noopener noreferrer nofollow external"
      >Noto Sans</a>
      font family.
    </li>
    <li>
      Built with
      <a
        href="https://www.getzola.org/"
        target="_blank"
        rel="noopener noreferrer nofollow external"
      >Zola</a>
      <small>(
        <a
          href="https://github.com/getzola/zola"
          target="_blank"
          rel="noopener noreferrer nofollow external"
        >git</a>
      )</small>
    </li>
    <li>
      Hosted on
      <a
        href="https://codeberg.page/"
        target="_blank"
        rel="noopener noreferrer nofollow external"
      >Codeberg Pages</a>
    </li>
    <li>
      Tested with
      <a
        href="https://www.mozilla.org/en-US/firefox/browsers/"
        target="_blank"
        rel="noopener noreferrer nofollow external"
      >Firefox</a>
    </li>
  </ul>
</section>
