<section class="box">
  <ul class="check">
    <li class="ok">No Tracking</li>
    <li class="ok">No Ads</li>
    <li class="ok">No FontAwesome</li>
  </ul>
  Use
  <a
    href="https://ublockorigin.com/"
    target="_blank"
    rel="noopener noreferrer nofollow external"
  >uBlock Origin</a>
</section>
