<nav class="paginator">
  <ul>
    <li>
      {% if paginator.current_index > 1 -%}
      <a href="{{ paginator.first
                | trim_start_matches(pat=config.base_url) }}">
        &#x23EE;&#xFE0E; First
      </a>
      {%- else -%}
      <s>&#x23EE;&#xFE0E; First</s>
      {%- endif %}
    </li>

    <li>
      {% if paginator.previous -%}
      <a href="{{ paginator.previous
                | trim_start_matches(pat=config.base_url) }}">
        &#x23EA;&#xFE0E; Previous
      </a>
      {%- else -%}
      <s>&#x23EA;&#xFE0E; Previous</s>
      {%- endif %}
    </li>

    <li>
      {{ paginator.current_index }} of {{ paginator.number_pagers }}
      <small>
        ({{ paginator.paginate_by }} per page)
      </small>
    </li>

    <li>
      {% if paginator.next -%}
      <a href="{{ paginator.next
                | trim_start_matches(pat=config.base_url) }}">
        Next &#x23E9;&#xFE0E;
      </a>
      {%- else -%}
      <s>Next &#x23E9;&#xFE0E;</s>
      {%- endif %}
    </li>

    <li>
      {% if paginator.current_index < paginator.number_pagers -%}
      <a href="{{ paginator.last
                | trim_start_matches(pat=config.base_url) }}">
        Last &#x23ED;&#xFE0E;
      </a>
      {%- else -%}
      <s>Last &#x23ED;&#xFE0E;</s>
      {%- endif %}
    </li>
  </ul>

  <ul
      aria-label="Section page numbers you can jump to">
    <!-- Page 1 gets an ugly redirect, so no numbered page URL. -->
    <li><a href="{{ paginator.first
                  | trim_start_matches(pat=config.base_url) }}"
           aria-label="Go to page 1">
      1
    </a></li>
    {% for pnum in range(start=2, end=paginator.number_pagers + 1) -%}
    <li><a href="{{ paginator.base_url ~ pnum
                  | trim_start_matches(pat=config.base_url) }}"
           aria-label="Go to page {{ pnum }}">
      {{- pnum -}}
    </a></li>
    {%- endfor %}
  </ul>
</nav>
